.App{
  
}

.user-list{
  background-color: blueviolet;
  width: 100%;
  min-height: 100vh;
}
.account-header{
  font-size: 28px;
  height: 120px;
  padding-top: 40px;
}

.account-body{
  height: 450px;
  overflow: hidden;
  overflow-y: auto;
}
.account-list{
  height: 70px;
  display: flex;
  cursor: pointer;
}
.imglist-container{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 10px 20px 10px 10px;
  overflow: hidden;
}
.account-img{
  height: 50px;
  width: 50px;
}
.account-name{
  font-size: 20px;
    margin-top: 20px;
}

.sidenav-container{
  background-color: #085cb7;
  width: 100%;
  min-height: 95vh;
  border-radius: 50px;
  padding: 20px;

}
.nav-list-container{
  margin-top:250px;
}
.navlist{
  color: #adb5bd;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  cursor: pointer;
}
.active-navlist{
  color: white ;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  cursor: pointer;
}
.img-container{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  display: inline-block;
}
.main-img{
  height: 200px;
  width: 200px;
}
.profile-container{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 20px;
}
.profile-image{
  height: 50px;
  width: 50px;
}
.no-data-container{
  font-size: 50px;
    font-weight: bold;
    color: #adb5bd;
    width: 100%;
    text-align: center;
    margin-top: 250px;
}

.custom-font{
  font-size: 20px;
  margin-bottom: 20px;
}

.active-page-title{
  margin-top: 24px;
    font-size: 24px;
}
.profile-name{
  font-size: 20px;
  margin-top: 10px;
}
